
/*tooltip creating*/
.card-footer-badge .tooltiptext {
    visibility: hidden;
    width: 30px;
    
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    
  }
  
  .card-footer-badge:hover .tooltiptext {
    visibility: visible;
  }
/*making erros text red*/
  .erros {
      color : red;
  }

.add-form {
      margin-top: 50px;
     
  }